body {
    background-image: url('https://scontent-a-ord.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/10849913_735842959840045_8135015840971061337_n.jpg?oh=c7e7b4fba3e1b9bfd0843a20be08e74a&oe=553EDC25');
    background-repeat: no-repeat;
    background-size: 100%;
}